/* 1. Import Font Poppins dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* 2. Terapkan ke BODY dan seluruh elemen (*) */
body {
  margin: 0;
  /* Prioritaskan Poppins, jika gagal baru ke sans-serif */
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 3. Paksa semua elemen turunan untuk mengikuti font body */
button, input, textarea, select {
  font-family: inherit;
}